@import '~@angular/material/theming';
@import 'material-design-icons/iconfont/material-icons.css';

@import './themes/app-theme.scss';
@import './themes/default-theme.scss';
@import './themes/custom-theme.scss';
@import './themes/light-theme.scss';
@import './themes/black-theme.scss';

@import 'src/app/nebula-core/styles/nebula.scss';

//默认字体14px 行高20px 字重400
$custom-typography: mat-typography-config(
  
    $font-family:'"Segoe UI", SegoeUI, Roboto,
    "Microsoft YaHei", 微软雅黑,
    "PingFang SC", "Hiragino Sans GB", 
    "Helvetica Neue", Helvetica, Arial, sans-serif'

);

//https://github.com/angular/material2/blob/master/src/lib/core/typography/_typography.scss
@include mat-core($custom-typography);

/* @include angular-material-typography($custom-typography); */

/* default-theme  */
.default-theme{
    @include angular-material-theme($default-theme);
    @include app-theme($default-theme);
}

/* custom-theme  */
.custom-theme{
    @include angular-material-theme($custom-theme);
    @include app-theme($custom-theme);
}

.light-theme{
    @include angular-material-theme($light-theme);
    @include app-theme($light-theme);
}

.black-theme{
    @include angular-material-theme($black-theme);
    @include app-theme($black-theme);
}

body {
    margin: 0; 
}
