<div class="page-bar">
    <div style="padding-left: 6%;padding-right: 6%;height:100%;display:flex;flex-flow: row;align-items:center">
        <div>
            <img style="height: 100px;border-radius: 50%;" src="assets/img/broadcaster2.png">
        </div>
        <div style="margin: 0 0 0 20px;color:#ffffff;width: 300px;">
            <div class="ne-heading-3xl">
                尚未登录
            </div>
            <div class="ne-font-sm-plus" style="margin: 5px 0 5px 0;">
                You are not logged in yet
            </div>
            <div>
                <a routerLink="." (click)='openError()' style="color:#ffffff">Sign in 登录 ></a>
                <!-- <button mat-stroked-button color="warn" style="color:#ffffff;background-color:#00477E;">
                     Sign in 登录
                </button> -->
            </div>
        </div>
        <div style="color:#ffffff">
            <div>
                <mat-icon style="color:#ffffff;width:34px;height:34px;" svgIcon="core:baseline-alarm_on"></mat-icon>
            </div>
            <div class="ne-heading-xl" style="margin: 5px 0 5px 0;">
                报警系统
            </div>
            <div class="ne-font-sm-plus" style="margin: 0 0 5px 0;">
                Alarm (质量停线，呼叫支持，测试站维修，质量报告，维修记录)
            </div>
            <div>
                <a routerLink="." (click)='openError()' style="color:#ffffff">查看 ></a>
            </div>
        </div>
        <div style="color:#ffffff;margin-left: 20px;">
            <div>
                <mat-icon style="color:#ffffff;width:34px;height:34px;" svgIcon="core:outline-message"></mat-icon>
            </div>
            <div class="ne-heading-xl" style="margin: 5px 0 5px 0;">
                生产即时消息
            </div>
            <div class="ne-font-sm-plus" style="margin: 0 0 5px 0;">
                Instant message
            </div>
            <div>
                <a routerLink="." (click)='openError()' style="color:#ffffff">查看 ></a>
            </div>
        </div>
    </div>
</div>
<div
    style="padding-left: 8%;padding-right: 8%;padding-top:30px;display:flex;flex-flow: row;align-items:center;justify-content:space-between">
    <div class="item-container">
        <main-item picture="assets/img/main_8.svg" header="可追溯性系统" title="Traceability System"></main-item>

    </div>
    <div class="item-container">
            <main-item picture="assets/img/main_2.svg" header="生产材料报废" title="Scrap Management"></main-item>
    </div>
    <div class="item-container">
            <main-item picture="assets/img/main_6.svg" header="工人生产率" title="Productivity"></main-item>
    </div>
    <div class="item-container">
            <main-item picture="assets/img/main_3.svg" header="进出口保税管理系统" title="Import and Export Bonded"></main-item>
        </div>
</div>
<div
    style="padding-left: 8%;padding-right: 8%;padding-top:30px;padding-bottom:30px;display:flex;flex-flow: row;align-items:center;justify-content:space-between">
    <div class="item-container">
            <main-item picture="assets/img/main_17.svg" header="可视化" title="Monitor"></main-item>

    </div>
    <div class="item-container">
            <main-item picture="assets/img/main_5.svg" header="MTK" title="Management Tool Kit"></main-item>
    </div>
    <div class="item-container">
            <main-item picture="assets/img/main_11.svg" header="工人岗位分配" title="Job Allocation"></main-item>
    </div>
    <div class="item-container">
            <main-item picture="assets/img/main_1.svg" header="质量问题分析" title="Quality Issue Analysis"></main-item>
     </div>
</div>
<div
    style="padding-left: 8%;padding-right: 8%;padding-bottom:30px;display:flex;flex-flow: row;align-items:center;justify-content:space-between">
    <div class="item-container">
            <main-item picture="assets/img/main_9.svg" header="财务预算管理" title="Budget"></main-item>

    </div>
    <div class="item-container">
            <main-item picture="assets/img/main_13.svg" header="生产叫料" title="Call Material"></main-item>
    </div>
    <div class="item-container">
            <main-item picture="assets/img/main_15.svg" header="工人技能管理" title="Operator Skill Management"></main-item>
    </div>
    <div class="item-container">
            <main-item picture="assets/img/main_7.svg" header="排产" title="Planning Of Production"></main-item>
     </div>
</div>