<form style="width: 320px" [formGroup]="form" (ngSubmit)="login()" novalidate>
  <div style="display: flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;">
    <h1>Sign in</h1>

    <div style="color:#d32f2f;padding-bottom: 10px;" *ngIf="authenticationError">
      Incorrect UserID or password.
      <!-- <strong>Failed to sign in!</strong> Please check your credentials and try again. -->
    </div>
  </div>

  <mat-form-field style="width: 100%;">
    <input matInput placeholder="Name 用户名" required formControlName="loginName">
    <mat-error *ngIf="form.controls['loginName'].hasError('required')">
      Enter your account name. 请填写用户名
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 100%;">
    <input matInput placeholder="Password 密码" type="password" required formControlName="password">
    <mat-error *ngIf="form.controls['password'].hasError('required')">
      Enter your password. 请填写密码
    </mat-error>
    <mat-error *ngIf="form.controls['password'].hasError('minlength') && !form.controls['password'].hasError('required')">
      Must be at least 4 characters long. 密码不能少于4个字符
    </mat-error>
  </mat-form-field>
  <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>

  <div style="margin-top:15px;display: flex;flex-flow:row nowrap;justify-content:flex-end;">

    <button type="submit" [disabled]="!form.valid" mat-flat-button color="primary">Sign in 登录</button>
    &nbsp;
    <button mat-button [mat-dialog-close]="true">Cancel 取消</button>

  </div>
</form>