
<div style='margin:10px;'>
  <button mat-raised-button color="primary" (click)='openDialog("Info")'>Info</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)='openDialog("Warning")'>Warning</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)='openDialog("Error")'>Error</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)='openDialog("Success")'>Success</button>
</div>
<div style='margin:10px;'>
  <button mat-raised-button color="primary" (click)='openNotification("Info")'>Info</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)='openNotification("Warning")'>Warning</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)='openNotification("Error")'>Error</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)='openNotification("Success")'>Success</button>
</div>
<div style='margin:10px;'>
  <button mat-raised-button color="primary" (click)='openToast("Info")'>Info</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)='openToast("Warning")'>Warning</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)='openToast("Error")'>Error</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)='openToast("Success")'>Success</button>
</div>

<div style="width:500px;"><nebula-alert></nebula-alert></div>

<div style='margin:10px;'>
  <button mat-raised-button color="primary" (click)='openAlert1("Info")'>Info</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)='openAlert2("Warning")'>Warning</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)='openAlert3("Error")'>Error</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)='openAlert4("Success")'>Success</button>
</div>