<mat-list>
  <mat-list-item style="color:white;">
    <button mat-button routerLink="/home">
      <mat-icon style="margin-right:6px;vertical-align:baseline;" svgIcon="core:baseline-home"></mat-icon>
      <span>DASHBOARD</span>
    </button>
  </mat-list-item>
  <mat-list-item style="color:white;">
    <button mat-button routerLink=".">
      <mat-icon style="margin-right:6px;vertical-align:baseline;" svgIcon="core:baseline-person_add"></mat-icon>
      <span>REGISTER</span>
    </button>
  </mat-list-item>
  <mat-list-item style="color:white;">
    <button mat-button routerLink="signin">
      <mat-icon style="margin-right:6px;vertical-align:baseline;" svgIcon="core:baseline-fingerprint"></mat-icon>
      <span>LOGIN</span>
    </button>
  </mat-list-item>
  <mat-list-item style="color:white;">
    <button mat-button routerLink=".">
      <mat-icon style="margin-right:6px;vertical-align:baseline;" svgIcon="core:baseline-lock"></mat-icon>
      <span>LOCK</span>
    </button>
  </mat-list-item>
</mat-list>