.#{$prefix}typography {

 /* from material typography   
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 14px;
    line-height: 20px; */

    font-family: $ne-font-family-base;
    font-size: $ne-font-size-14;
    font-weight: $ne-font-weight-normal;
    line-height: $ne-font-size-14 * 1.5;
 
    .#{$prefix}heading-sm {
        font-size: $ne-heading-sm-font-size;
        font-weight: $ne-heading-sm-font-weight;
        line-height: $ne-heading-sm-line-height;
    }

    .#{$prefix}heading-sm-plus {
        font-size: $ne-heading-sm-plus-font-size;
        font-weight: $ne-heading-sm-plus-font-weight;
        line-height: $ne-heading-sm-plus-line-height;
    }

    .#{$prefix}heading-md {
        font-size: $ne-heading-md-font-size;
        font-weight: $ne-heading-md-font-weight;
        line-height: $ne-heading-md-line-height;
    }

 
    .#{$prefix}heading-lg {
        font-size: $ne-heading-lg-font-size;
        font-weight: $ne-heading-lg-font-weight;
        line-height: $ne-heading-lg-line-height;
    }

    .#{$prefix}heading-xl {
        font-size: $ne-heading-xl-font-size;
        font-weight: $ne-heading-xl-font-weight;
        line-height: $ne-heading-xl-line-height;
    }

    .#{$prefix}heading-2xl {
        font-size: $ne-heading-2xl-font-size;
        font-weight: $ne-heading-2xl-font-weight;
        line-height: $ne-heading-2xl-line-height;
    }

    .#{$prefix}heading-3xl {
        font-size: $ne-heading-3xl-font-size;
        font-weight: $ne-heading-3xl-font-weight;
        line-height: $ne-heading-3xl-line-height;
    }

    .#{$prefix}font-xs {
        font-size: $ne-font-xs-font-size;
        font-weight: $ne-font-xs-font-weight;
        line-height: $ne-font-xs-line-height;
    }

    .#{$prefix}font-md {
        font-size: $ne-font-md-font-size;
        font-weight: $ne-font-md-font-weight;
        line-height: $ne-font-md-line-height;
    }

    .#{$prefix}font-sm {
        font-size: $ne-font-sm-font-size;
        font-weight: $ne-font-sm-font-weight;
        line-height: $ne-font-sm-line-height;
    }

    .#{$prefix}font-sm-plus {
        font-size: $ne-font-sm-plus-font-size;
        font-weight: $ne-font-sm-plus-font-weight;
        line-height: $ne-font-sm-plus-line-height;
    }

    .#{$prefix}font-lg {
        font-size: $ne-font-lg-font-size;
        font-weight: $ne-font-lg-font-weight;
        line-height: $ne-font-lg-line-height;
    }

    // Weight and italics
    .#{$prefix}font-weight-lighter     { font-weight: $ne-font-weight-lighter !important; }
    .#{$prefix}font-weight-bolder      { font-weight: $ne-font-weight-bolder !important; }

    .#{$prefix}font-weight-light       { font-weight: $ne-font-weight-light !important; }
    .#{$prefix}font-weight-normal      { font-weight: $ne-font-weight-normal !important; }
    .#{$prefix}font-weight-medium      { font-weight: $ne-font-weight-medium !important; }
    .#{$prefix}font-weight-semibold    { font-weight: $ne-font-weight-semibold !important; }
    .#{$prefix}font-weight-bold        { font-weight: $ne-font-weight-bold !important; }
    .#{$prefix}font-italic             {font-style: italic !important; }

}