
@import './variables/general.variables';
@import './variables/font.variables';
@import './variables/spacing.variables';


$ne-enable-gradients:          false !default;



//https://material.io/design/color/the-color-system.html#tools-for-picking-colors

$ne-white :     #ffffff !default;
$ne-gray-50:    #FAFAFA !default;
$ne-gray-100:   #F5F5F5!default;
$ne-gray-200:   #EEEEEE!default;
$ne-gray-300:   #E0E0E0!default;
$ne-gray-400:   #BDBDBD!default;
$ne-gray-500:   #9E9E9E!default;
$ne-gray-600:   #757575!default;
$ne-gray-700:   #616161!default;
$ne-gray-800:   #424242!default;
$ne-gray-900:   #212121!default;
$ne-black:      #000000 !default;

$ne-grays: (
    "50" : $ne-gray-50,
    "100": $ne-gray-100,
    "200": $ne-gray-200,
    "300": $ne-gray-300,
    "400": $ne-gray-400,
    "500": $ne-gray-500,
    "600": $ne-gray-600,
    "700": $ne-gray-700,
    "800": $ne-gray-800,
    "900": $ne-gray-900
  ) !default;



  $ne-spacer: 1rem !default;
 
  $ne-spacers:(
      0: 0,
      1: ($ne-spacer * .25),
      2: ($ne-spacer * .5),
      3: $ne-spacer,
      4: ($ne-spacer * 1.5),
      5: ($ne-spacer * 3)
  ) !default;

  $ne-indigo:  #3f51b5;
$ne-primary:       $ne-indigo;

  $ne-theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$ne-theme-colors: map-merge(
  (
    "primary":    $ne-primary,
  //  "secondary":  $secondary,
  //  "success":    $success,
  //  "info":       $info,
  //  "warning":    $warning,
  //  "danger":     $danger,
  //  "light":      $light,
  //  "dark":       $dark
  ),
  $ne-theme-colors
);


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$ne-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;