<div class="ne-typography demo-spacing">
  <div class='ne-heading-3xl ne-my-lg'>Spacing</div>
  <p>Where <em>property</em> is one of:</p>

  <ul>
    <li>m - for classes that set margin</li>
    <li>p - for classes that set padding</li>
  </ul>

  <p>Where <em>sides</em> is one of:</p>

  <ul>
    <li>t - for classes that set margin-top or padding-top</li>
    <li>b - for classes that set margin-bottom or padding-bottom</li>
    <li>l - for classes that set margin-left or padding-left</li>
    <li>r - for classes that set margin-right or padding-right</li>
    <li>x - for classes that set both *-left and *-right</li>
    <li>y - for classes that set both *-top and *-bottom</li>
    <li>blank - for classes that set a margin or padding on all 4 sides of the element</li>
  </ul>
  <p>Examples</p>
  <p>
    ne-[property][sides]-[size]
    <br />
    class="ne-mx-lg"
  </p>
  <table>
    <thead>
      <tr>
        <th>Size</th>
        <th>rem</th>
        <th>px</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3xs</td>
        <td>0.125rem</td>
        <td>2 px</td>
      </tr>
      <tr>
        <td>2xs</td>
        <td>0.25rem</td>
        <td>4 px</td>
      </tr>
      <tr>
        <td>xs</td>
        <td>0.5rem</td>
        <td>8 px</td>
      </tr>
      <tr>
        <td>sm</td>
        <td>0.75rem</td>
        <td>12 px</td>
      </tr>
      <tr>
        <td>md</td>
        <td>1rem</td>
        <td>16 px</td>
      </tr>
      <tr>
        <td>lg</td>
        <td>1.5rem</td>
        <td>24 px</td>
      </tr>
      <tr>
        <td>xl</td>
        <td>2rem</td>
        <td>32 px</td>
      </tr>
      <tr>
        <td>2xl</td>
        <td>2.5rem</td>
        <td>40 px</td>
      </tr>
      <tr>
        <td>3xl</td>
        <td>3rem</td>
        <td>48 px</td>
      </tr>

    </tbody>
  </table>
</div>