<h2 mat-dialog-title>Create Group</h2>
<mat-dialog-content class="mat-typography">
  <!-- <form style="width: 290px" [formGroup]="form" (ngSubmit)="login2()" novalidate>

    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Name 用户名" required formControlName="loginName" autofocus>
      <mat-error *ngIf="form.controls['loginName'].hasError('required')">
        Enter your account name. 请填写用户名
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Password 密码" type="password" required formControlName="password">
      <mat-error *ngIf="form.controls['password'].hasError('required')">
        Enter your password. 请填写密码
      </mat-error>
       <mat-error *ngIf="form.controls['password'].hasError('minlength') && !form.controls['password'].hasError('required')">
        Must be at least 4 characters long. 密码不能少于4个字符
      </mat-error> 
    </mat-form-field>
    <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
    <div style="margin-top:15px;">
      <button type="submit" [disabled]="!form.valid"  mat-flat-button color="primary">Sign in 登录</button>
    </div>
  </form> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
