$white:    #fff !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$black:    #000 !default;

$enable-rounded:            false !default;
$enable-shadows:            false !default;
$enable-transitions:        true !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

$border-radius:               .25rem !default;

// Progress bars

$progress-height:                   1rem !default;
$progress-font-size:                ($font-size-base * .75) !default;
$progress-bg:                       $gray-200 !default;
$progress-border-radius:            $border-radius !default;
$progress-box-shadow:               inset 0 .1rem .1rem rgba($black, .1) !default;
$progress-bar-color:                $white !default;
$progress-bar-bg:                   theme-color("primary") !default;
$progress-bar-animation-timing:     0.5s linear infinite !default;
$progress-bar-transition:           width .6s ease !default;


@mixin border-radius($radius: $border-radius) {
    @if $enable-rounded {
      border-radius: $radius;
    }
}  

@mixin box-shadow($shadow...) {
    @if $enable-shadows {
      box-shadow: $shadow;
    }
}

@mixin gradient-striped($color: rgba($white, .15), $angle: 45deg) {
    background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}

@mixin transition($transition...) {
    @if $enable-transitions {
      @if length($transition) == 0 {
        transition: $transition-base;
      } @else {
        transition: $transition;
      }
    }
  
    @media screen and (prefers-reduced-motion: reduce) {
      transition: none;
    }
}

.progress {

    display: flex;
    height: $progress-height;
    overflow: hidden; // force rounded corners by cropping it
    font-size: $progress-font-size;
    background-color: $progress-bg;
    @include border-radius($progress-border-radius);
    @include box-shadow($progress-box-shadow);

    .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $progress-bar-color;
        text-align: center;
        white-space: nowrap;
       // background-color: $progress-bar-bg;
       background-color:#007bff;
        @include transition($progress-bar-transition);
    }

    .progress-bar-striped {
        @include gradient-striped();
        background-size: $progress-height $progress-height;
    }
      
    .progress-bar-animated {
        animation: progress-bar-shine 2s ease-out infinite;  
        //animation: progress-bar-glow 1s ease-out infinite;       
        //animation: progress-bar-stripes $progress-bar-animation-timing;
    }

    .bg-success {
        background-color: #28a745 !important;
    }
    .bg-info {
        background-color: #17a2b8 !important;
    }
    
    .bg-warning {
        background-color: #ffc107 !important;
    }
    
    .bg-danger {
        background-color: #dc3545 !important;
    }
}
 
@keyframes progress-bar-stripes {
/*   from { background-position: $progress-height 0; }
    to { background-position: 0 0; } 
 */
    from { background-position: 0 0; }
    to { background-position: $progress-height 0; } 
  
   
}
//闪烁  
@keyframes progress-bar-glow {
    0% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;} 
    50% { box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;} 
    100% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
}

@keyframes progress-bar-shine {
  /*    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}  */

    0% {opacity: 1; width: 0%;}
    
    100% {opacity: 1; width: 100%;}
   
}  

