<div style="margin: 0 10px 0 10px;height:160px;box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);border-radius:.1875rem;display:flex;flex-flow:row nowarp;justify-content:space-around;align-items:center;background-color:#FFFFFF;">
  <div style="flex:auto;">
   <app-mtk-stats-card-item icon= "notifications_active" iconColor="#F96332"  value="2" title="STOP LINE 生产停线"></app-mtk-stats-card-item> 
  </div>
  <mat-divider [vertical]="true" style="height: calc(100% - 40px);"></mat-divider>
  <div style="flex:auto;">
    <app-mtk-stats-card-item icon= "people_outline" iconColor="#18CE0F"  value="1276" title="NUMBER OF OPERATORS 岗位人数"></app-mtk-stats-card-item>
  </div>
  <mat-divider [vertical]="true" style="height: calc(100% - 40px);"></mat-divider>
  <div style="flex:auto;">
    <app-mtk-stats-card-item icon= "trending_up" iconColor="#35ACFF"  value="122031" title="OUTPUT 产量"></app-mtk-stats-card-item>
  </div>
  <mat-divider [vertical]="true" style="height: calc(100% - 40px);"></mat-divider>
  <div style="flex:auto;">
    <app-mtk-stats-card-item icon= "attach_money" iconColor="#FFA000"  value ="￥561,906.79" title="TOTAL AMOUNT OF SCRAP(RMB) 报废材料金额"></app-mtk-stats-card-item>
  </div>
</div>