/* .mat-toolbar{
    min-height:40px !important;
} */

.xxx {
    margin-left:5px;
    margin-right:5px;
    width:1px;
    height:50%;
    border-left:1px solid #000000;
}


.yyy{

    height:255px;
    background: linear-gradient(to bottom,#0078d7 0%,#09a2ce);
    box-shadow: 0 12px 45px -8px rgba(0,120,215,.35);
}