.top-header {

  .divider {

    margin: 0 18px 0 6px;
    height:25px;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 0.8);
  }


  
  

}

.yyy{

    height:255px;
    background: linear-gradient(to bottom,#0078d7 0%,#09a2ce);
    box-shadow: 0 12px 45px -8px rgba(0,120,215,.35);
}