<div class="ne-bg-white ne-color-black top-header" style="height:54px;display:flex;">
  <div style="flex:auto;margin: 0 6% 0 6%;display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;">
    <div style="width:130px;">
      <a href="#">
        <img src="../../../../assets/img/logo/logo_1.svg" width="22" height="22">
        <span class='ne-heading-2xl ne-ml-sm ne-align-middle ne-color-gray-700 ne-font-weight-bolder'>SONY</span>
      </a>
    </div>
    <div class='divider'></div>
    <div class='ne-heading-xl ne-mr-2'>主页</div>
   
    <main-top-menu></main-top-menu>

    <div style="flex:auto"></div>
    <main-settings-menu></main-settings-menu>
  </div>
</div>

