<div class="ne-bg-white ne-color-black top-header" style="height:54px;display:flex;">
  <div style="flex:auto;margin: 0 6% 0 6%;display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;">
    <div style="width:130px;">
      <a href="#">
        <img src="../../../../assets/img/logo/logo_1.svg" width="22" height="22">
        <span class='ne-header-3x ne-ml-2 ne-align-middle ne-color-gray-700 ne-font-weight-bolder'>SONY</span>
      </a>
    </div>
    <div class='divider'></div>
    <div class='ne-header-2x ne-mr-2'>主页</div>
   
    <main-top-menu></main-top-menu>

    <div style="flex:auto"></div>
    <main-settings-menu></main-settings-menu>
  </div>
</div>

<!-- <mat-icon svgIcon="thumbs-up"></mat-icon> -->


 <i class="ms-Icon ms-Icon--More" aria-hidden="true"></i>

<i class="ms-Icon ms-Icon--Mail" aria-hidden="true"></i>
<i class="ms-Icon ms-Icon--AccessLogo" aria-hidden="true"></i>

<!-- <mat-icon>account_balance</mat-icon>
<mat-icon>account_balance_outline</mat-icon> -->
<!-- <i class="material-icons">lock</i>
<i class="material-icons">lock_outline</i>
<i class="material-icons">lock_twotone</i>
<i class="material-icons">account_balance</i>
<i class="material-icons">account_balance_outline</i>
 -->

<!-- 
<i class="material-icons material-icons--outline">account_balance</i>
<mat-icon fontSet="material-icons--outline" fontIcon="xx_account_balance"></mat-icon>
<i class="material-icons">
  account_balance
  </i> -->
<!-- <br>
<i class="material-icons">dashboard_outline</i>

<i class="material-icons material-icons--outline">dashboard</i> -->


<div class="yyy">


</div>



<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="../../../../assets/img/logo/logo-main.svg" width="30" height="30">
  </a>
  <a class="navbar-brand">Navbar</a>
  你的信息
</nav>
<div>
  Office Windows 支持 更多 下载 社区 联系我们 了解 Windows 更新如何使设备保持最新状态 -- 默认字号
</div>
<div style="font-size:14px;">
  Office Windows 支持 更多 下载 社区 联系我们 了解 Windows 更新如何使设备保持最新状态14
</div>
<div style="font-size:15px;">
  Office Windows 支持 更多 下载 社区 联系我们 了解 Windows 更新如何使设备保持最新状态15
</div>
<div style="font-size:16px;">
  Office Windows 支持 更多 下载 社区 联系我们 了解 Windows 更新如何使设备保持最新状态16
</div>
<div class='ne-body-md'>
  Office Windows 支持 更多 下载 社区 联系我们 了解 Windows 更新如何使设备保持最新状态-body
</div>
<div class='ne-body-sm'>
  Office Windows 支持 更多 下载 社区 联系我们 了解 Windows 更新如何使设备保持最新状态-s
</div>
<div class='ne-body-lg'>
  Office Windows 支持 更多 下载 社区 联系我们 了解 Windows 更新如何使设备保持最新状态-l
</div>
<div class='ne-header-md'>
  Office Windows 支持 更多 下载 社区 联系我们 了解 Windows 更新如何使设备保持最新状态-header
</div>
<div class='ne-header-sm'>
  Office Windows 支持 更多 下载 社区 联系我们 了解 Windows 更新如何使设备保持最新状态-s
</div>
<div class='ne-header-lg'>
  Office Windows 支持 更多 下载 社区 联系我们 了解 Windows 更新如何使设备保持最新状态-l
</div>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-link">Link</button>
<img src="../../../../assets/img/logo/logo-main.svg" width="30" height="30" alt="">
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  A simple secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  A simple warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
  A simple info alert—check it out!
</div>
<div class="alert alert-light" role="alert">
  A simple light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
  A simple dark alert—check it out!
</div>
<div style="width:100%;height:60px;background-color:#0078d4;">

</div>
<br>
<div style="width:100%;height:60px;background-color:#0050C7;">

</div>
<br>
<div style="width:100%;height:60px;background-color:#3f51b5;">

</div>