<div class="ne-bg-white ne-color-black top-header" style="height:54px;display:flex;">
  <div style="flex:auto;margin: 0 5% 0 5%;display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;">
    <div style="width:140px;">
      <a href="#">
        <img src="../../../../assets/img/logo/logo_2.svg" width="24" height="24">&nbsp;
        <!-- <span class='ne-heading-2xl ne-ml-sm ne-align-middle ne-color-gray-700 ne-font-weight-bolder'>SONY</span> -->
        <img src="../../../../assets/img/logo/logo_mtk_1.png" height="24">
      </a>
    </div>
    <div class='divider'></div>
    <div class='ne-heading-xl ne-mr-2'>主页</div>
   
    <main-top-menu></main-top-menu>

    <div style="flex:auto"></div>
    <main-settings-menu></main-settings-menu>
  </div>
</div>

