<app-home-demo-message></app-home-demo-message>
<p>
  default-page works!
</p>
<button mat-button color="primary" (click)="xxx()">Primary</button>
<button mat-button color="accent" (click)="yyy()">Accent</button>
<button mat-button color="warn" (click)="aaa()">Warn</button>
<br />

<button mat-raised-button color="primary" (click)="bbb()">Primary</button>
&nbsp;
<button mat-raised-button color="accent">Accent</button>
&nbsp;
<button mat-raised-button color="warn">Warn</button>
&nbsp;
<button mat-stroked-button>Basic</button>
