<ng-container *ngIf="alert">
    <div [ngClass]="'alert ' + getClassForSizeSmall() + ' alert-' + alert?.message.messageType">

        <div class="alert-item">
            <div class="alert-icon-wrapper">
               <!--  <fa-icon class='fa-lg' class="alert-icon" [icon]='iconType'></fa-icon> -->
               <mat-icon svgIcon="core:baseline-more_horiz"></mat-icon>
            </div>
            <span class="alert-text">
                <div>{{alert?.message.message}} </div>
                <div>{{alert?.message.description}}</div>
            </span>
        </div>
    </div>
</ng-container>