<div class="dialog">
    <div class="dialog-header">
        <!-- <div class="alert-icon-wrapper">
            <fa-icon class='fa-lg' class="alert-icon" [icon]='iconType'></fa-icon>
        </div> -->
        <div class="dialog-title">{{msg.messageType}}</div>
        <button type="button" tabindex="-1" class="dialog-icon-close" (click)="onClose()">
            <span>&times;</span>
        </button>
    </div>
    <div class="dialog-body">
        <p>{{msg.message}}</p>
        <p>{{msg.description}}</p>
    </div>
    <div class="dialog-footer">
        <button type="button" class="dialog-button" (click)="onClose()">Close</button>
    </div>
</div>