.toast-container-Info {

  background-color:transparent !important;
 
  box-shadow:none !important;

  .toast {
    
    background-color: #0079b8;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 0.125rem;
    display: flex;
    flex-flow : row nowrap;
    justify-content : space-between;
    align-items:flex-start;
    
    .toast-icon-wrapper {
      padding:0 0.5rem 0 0.5rem; 
      line-height:18px;
      .toast-icon{
         //color: #ffffff;
         fill:#ffffff;
      }

      .toast-icon-close {
        color: #ffffff;
        cursor: pointer;
        font-size: 1.25rem;
        font-weight: 400;
        opacity: .7;
        background-color: transparent;
        border: 0;
      }
  
      .toast-icon-close:focus {
          outline: none;
      }
  
      .toast-icon-close:hover {
        color:#ffffff;
        opacity: 1;
      }

    }

    .toast-text {
      color:#ffffff;
      flex:1 1 auto;

      // ref:
      // https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/

      /* These are technically the same, but use both */
      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    

  }

}

.toast-container-Success {

  background-color:transparent !important;
  box-shadow:none !important;

  .toast {
      
    background-color: #318700;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 0.125rem;
    display: flex;
    flex-flow : row nowrap;
    justify-content : space-between;
    align-items:flex-start;

    .toast-icon-wrapper {
      padding:0 0.5rem 0 0.5rem; 
      line-height:18px;
      .toast-icon{
        
        //color: #ffffff;
        fill:#ffffff;
      }

      .toast-icon-close {
        color: #ffffff;
        cursor: pointer;
        font-size: 1.25rem;
        font-weight: 400;
        opacity: .7;
        background-color: transparent;
        border: 0;
      }
  
      .toast-icon-close:focus {
          outline: none;
      }
  
      .toast-icon-close:hover {
        color:#ffffff;
        opacity: 1;
      }
      
    }

    .toast-text {

      color:#ffffff;
      flex:1 1 auto;

      // ref:
      // https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/

      /* These are technically the same, but use both */
      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    

  }

}


.toast-container-Warning {

  background-color:transparent !important;
  box-shadow:none !important;

  .toast {
   
    background-color: #c25400;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 0.125rem;
    display: flex;
    flex-flow : row nowrap;
    justify-content : space-between;
    align-items:flex-start;

    .toast-icon-wrapper {
      padding:0 0.5rem 0 0.5rem; 
      line-height:18px;
      .toast-icon{
        //color: #ffffff;
        fill:#ffffff;
      }

      .toast-icon-close {
        color: #ffffff;
        cursor: pointer;
        font-size: 1.25rem;
        font-weight: 400;
        opacity: .7;
        background-color: transparent;
        border: 0;
      }
  
      .toast-icon-close:focus {
          outline: none;
      }
  
      .toast-icon-close:hover {
        color:#ffffff;
        opacity: 1;
      }
    }

    .toast-text {
      color:#ffffff;
      flex:1 1 auto;

      // ref:
      // https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/

      /* These are technically the same, but use both */
      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

  }

}

.toast-container-Error {

  background-color:transparent !important;
  box-shadow:none !important;
  
  .toast {
  
    background-color: #c92100;

    padding: 0.5rem 0 0.5rem 0;
    border-radius: 0.125rem;
    display: flex;
    flex-flow : row nowrap;
    justify-content : space-between;
    align-items:flex-start;

    .toast-icon-wrapper {
      line-height:18px;
      padding:0 0.5rem 0 0.5rem; 
   
      .toast-icon{
          //color: #ffffff;
          fill:#ffffff;
      }

      .toast-icon-close {
        color: #ffffff;
        cursor: pointer;
        font-size: 1.25rem;
        font-weight: 400;
        opacity: .7;
        background-color: transparent;
        border: 0;
      }

      .toast-icon-close:focus {
          outline: none;
      }

      .toast-icon-close:hover {
        color:#ffffff;
        opacity: 1;
      }

    }

    .toast-text {

      color:#ffffff;
      flex:1 1 auto;

      // ref:
      // https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/

      /* These are technically the same, but use both */
      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
        
    }
  }
}






//屏幕居中
// .cdk-global-overlay-wrapper {
//   justify-content: center !important;
//   align-items: center !important;
// }


// @keyframes demo-party {
//   0% { background: #00f; }
//   10% { background: #8e44ad; }
//   20% { background: #1abc9c; }
//   30% { background: #d35400; }
//   40% { background: #00f; }
//   50% { background: #34495e; }
//   60% { background: #00f; }
//   70% { background: #2980b9; }
//   80% { background: #f1c40f; }
//   90% { background: #2980b9; }
//   100% { background: #0ff; }
// }