// $default: 500, $lighter: 100, $darker: 700)

$custom-theme-primary: mat-palette($mat-grey); 
$custom-theme-accent:  mat-palette($mat-deep-orange, 900); 
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

/* 
@import 'my-theme-partial'

$primary: map-get($theme, primary);

.light-bg {
  background-color: mat-color($primary, lighter);
}
.dark-bg {
  background-color: mat-color($primary, darker);
} */



