//Ref:
//https://freefrontend.com/css-arrows/
//https://www.adam-bray.com/2017/02/17/easy-html-5-css-3-navigation-menu/ 
// Simple Pure CSS Drop Down Menu
// https://codepen.io/philhoyt/pen/ujHzd

/* arrow common style */
/* 
.arrow {
    margin:0 0 3px 8px;	
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}
  
.arrow-top {
    transform: rotate(-45deg);
}
.arrow-right {
    transform: rotate(45deg);
}
.arrow-bottom {
    transform: rotate(135deg);
}
.arrow-left {
    transform: rotate(-135deg);
} */


.top-menu {

    nav {
        //background-color: #fff;
        //border: 1px solid #dedede;
        //border-radius: 4px;
        //box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
        //color: #888;
        //display: block;
        //margin: 8px 22px 8px 22px;
        //overflow: hidden;
        //width: 90%; 
      }
      
    nav ul {
        margin: 0;
        padding: 0;
    }
      
    nav  ul li {
        //background-color:red;
        //line-height:53px;
        // vertical-align: bottom;
        //line-height: 53px;
        //height:53px;
        //background-color:red;
        display: inline-block;
        list-style-type: none;

        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; 
    }
    
    nav > ul > li {
        border-bottom: 2px solid white;
    }
         
    nav > ul > li:hover {
        //background-color: rgb( 40, 44, 47 );
        border-bottom: 2px solid black;
        background-color:#f2f2f2;
    }

    nav > ul > li > a {
        color: #000000;
        display: block;
        line-height: 53px;
        //background-color:blue;
        padding: 0 14px;
        text-decoration: none;
        //border-bottom: 2px solid white;

    }

    nav > ul > li > a:hover {

        //border-bottom: 2px solid black;

    } 

    nav > ul > li:hover > a {
        //color: rgb( 255, 255, 255 );
    }

    nav > ul > li:hover > a > .caret {
        //border-top-color: rgb( 255, 255, 255 );
    }

    nav > ul > li > a > .caret {
        /*  border-top: 4px solid #aaa;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        vertical-align: middle;

        -webkit-transition: color 0.1s linear;
            -moz-transition: color 0.1s linear;
            -o-transition: color 0.1s linear;
        transition: color 0.1s linear;  */

        margin:0 0 3px 6px;	
        display: inline-block;
        width: 7px;
        height: 7px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(135deg);
    }
               
    nav > ul > li > div {
        //background-color: rgb( 40, 44, 47 );
        background-color:#f2f2f2;
        border-top: 0;
        //border-radius: 0 0 4px 4px;
        //box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
        display: none;
        margin: 2px 0 0 0;
        padding:0 0 2px 0;
        opacity: 0;
        position: absolute;
        width: 250px;
        visibility: hidden;
        
        border-bottom: 2px solid black;

        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
    }

    nav > ul > li:hover > div {
        display: block;
        opacity: 1;
        visibility: visible;

    }

    nav > ul > li > div ul > li {
        // line-height:22px;
        display: block;
    }
      
    nav > ul > li > div ul > li > a {
        //color: #fff;
        color:#000000;
        display: block;
        padding: 12px 24px;
        text-decoration: none;
    }

    nav > ul > li > div ul > li:hover > a {
        //background-color: rgba( 255, 255, 255, 0.1);
        background-color:#E6E6E6;
    }
      
  }