<div class='ne-font-sm-plus top-menu'>
  <nav>
    <ul>
      <li><a href="home.html">你的信息</a></li>
      <li><a href="home.html">隐私</a></li>
      <li><a href="home.html">安全性</a></li>
      <li>
        <a href="products.html">付款与账单<span class="caret"></span></a>
        <div>
          <ul>
            <li><a href="products.html#chair">购买历史纪录</a></li>
            <li><a href="products.html#table">付款选项</a></li>
            <li><a href="cooker.html">通讯簿</a></li>
            <li><a href="cooker.html">账单帮助</a></li>
          </ul>
        </div>
      </li>
      <li><a href="about.html">服务和订阅</a></li>
      <li><a href="help.html">设备</a></li>
      <li><a href="help.html">家庭</a></li>
    </ul>
  </nav>
</div>