<div class='ne-font-sm-plus top-menu'>
  <nav>
    <ul>
      <li><a routerLink="." (click)='openError()'>Team Site Portal</a></li>
      <li><a routerLink="." (click)='openError()'>InSite</a></li>

      <li>
        <a routerLink=".">
          Production 生产<span class="caret"></span>
        </a>
        <div>
          <ul>
            <li><a routerLink="." (click)='openError()'>Yield 合格率</a></li>

            <li><a routerLink="." (click)='openError()'>Planning Of Production 排产</a></li>
            <li><a routerLink="." (click)='openError()'>Call Material 生产叫料</a></li>
            <li><a routerLink="." (click)='openError()'>PBA & Part Change</a></li>
            <li><a routerLink="." (click)='openError()'>Monitor 可视化</a></li>
           
            <li><a routerLink="." (click)='openError()'>Mobile Security Check</a></li>
            <li><a routerLink="." (click)='openError()'>Scrap Management 生产材料报废</a></li>
            <li><a routerLink="." (click)='openError()'>Instant message 生产即时消息</a></li>
            
            <li><a routerLink="." (click)='openError()'>Alarm 报警系统</a></li>
            <li><a routerLink="." (click)='openError()'>Productivity 生产率</a></li>
            <li><a routerLink="." (click)='openError()'>Job Allocation  工人岗位分配</a></li>
            

          </ul>
        </div>
      </li>

      <li>
        <a routerLink=".">
          Quality 质量<span class="caret"></span>
        </a>
        <div>
          <ul>
            <li><a routerLink="." (click)='openError()'>10*10 质量检测</a></li>

            <li><a routerLink="." (click)='openError()'>Quality Issue Analysis<br>质量问题分析</a></li>



          </ul>
        </div>
      </li>
      <li>
        <a routerLink=".">
          Warehouse 库房<span class="caret"></span>
        </a>
        <div>
          <ul>
            <li><a routerLink="." (click)='openError()'>Preparation Materials 备料</a></li>
            <li><a routerLink="." (click)='openError()'>OBA Call FQC & FQC Call OBA</a></li>




          </ul>
        </div>
      </li>
      <li>
          <a routerLink=".">
              Other 其它<span class="caret"></span>
          </a>
          <div>
            <ul>
              <li><a routerLink="." (click)='openError()'>Import And Export Bonded<br>进出口保税管理系统</a></li>
              <li><a routerLink="." (click)='openError()'>Training Management 培训管理</a></li>
              
              <li><a routerLink="." (click)='openError()'>Performance Management<br>绩效管理</a></li>
              <li><a routerLink="." (click)='openError()'>Budget 财务预算</a></li>
  
              <li><a routerLink="." (click)='openError()'>Operator Skill Management<br>工人技能管理</a></li>
              <li><a  routerLink="/auth">Management Tool Kit</a></li>
              
              <li><a routerLink="." (click)='openError()'>Traceability System 可追溯性系统</a></li>
              

            </ul>
          </div>
        </li>
    </ul>
  </nav>
</div>