//https://github.com/angular/material2/blob/master/src/lib/toolbar/toolbar.scss

$layout-home-desktop-header-height:64px;
$layout-home-isSmallScreen-header-height:56px;

$layout-home-sidenav-expanded-width:260px;
$layout-home-sidenav-dock-width:80px;

$small-breakpoint-width : 599px;
