<mat-toolbar style="width: 85vw;display:flex;flex-flow:row nowrap;justify-content: space-between;background:transparent;color:white">
  <!-- <div style="display: inline-flex;align-items :center;">
    <img style="height: 32px;margin:0 8px 0 0;" src="../../../../assets/img/logo/logo-angular.svg">
    <span>Company</span>
  </div> -->
  <div>
    <img style="height:28px;padding-top:20px;" src="../../../../assets/img/logo/logo_MTK.png">
  </div>
  <div *ngIf="!isSmallScreen()">

    <button mat-button routerLink="/home">
      <!-- <mat-icon>dashboard</mat-icon> -->
      <fa-icon class='fa-lg fa-fw' style="margin-right:6px;"  [icon]="['fas','home']"></fa-icon>
      <span>DASHBOARD</span>
    </button>
    <button mat-button routerLink=".">
      <!-- <mat-icon>person_add</mat-icon> -->
      <fa-icon class='fa-lg fa-fw' style="margin-right:6px;" [icon]="['fas','user-plus']"></fa-icon>
      <span>REGISTER</span>
    </button>
    <button mat-button routerLink="signin">
    <!--   <mat-icon>fingerprint</mat-icon> -->
    <fa-icon class='fa-lg fa-fw' style="margin-right:6px;" [icon]="['fas','fingerprint']"></fa-icon>
      <span>LOGIN</span>
    </button>
    <button mat-button routerLink=".">
      <!-- <mat-icon>lock</mat-icon> -->
      <fa-icon class='fa-lg fa-fw' style="margin-right:6px;" [icon]="['fas','lock']"></fa-icon>
      <span>LOCK</span>
    </button>
  </div>
  <div *ngIf="isSmallScreen()">
    <button mat-icon-button (click)="sidenavToggle()">
      <!-- <mat-icon>menu</mat-icon> -->
      <fa-icon class='fa-lg' [icon]="['fas','bars']"></fa-icon>
    </button>
  </div>
</mat-toolbar>