.toast-notifier-container-Info {

  background-color:transparent !important;
  //background-color:green !important;
  //animation: demo-party 5000ms infinite;

  .toast-notifier {
    padding: 15px;
    margin:40px 0 0 0;
    background-color:#D1ECF1;
    color: #0C5460;
    font-size:14px;
    line-height:20px;
    font-weight:400;
  }

}

.toast-notifier-container-Success {

  background-color:transparent !important;
  //background-color:green !important;
  //animation: demo-party 5000ms infinite;

  .toast-notifier {
    padding: 15px;
    margin:40px 0 0 0;
    background-color:#D4EDDA;
    color: #155724;
    font-size:14px;
    line-height:20px;
    font-weight:400;
  }

}

.toast-notifier-container-Warning {

  background-color:transparent !important;
  //background-color:green !important;
  //animation: demo-party 5000ms infinite;

  .toast-notifier {
    padding: 15px;
    margin:40px 0 0 0;
    background-color:#FFF3CD;
    color: #856404;
    font-size:14px;
    line-height:20px;
    font-weight:400;
  }

}

.toast-notifier-container-Error {

  background-color:transparent !important;
  //background-color:green !important;
  //animation: demo-party 5000ms infinite;

  .toast-notifier {
    padding: 15px;
    margin:40px 0 0 0;
    background-color:#F8D7DA;
    color: #721C59;
    font-size:14px;
    line-height:20px;
    font-weight:400;
  }

}


//屏幕居中
// .cdk-global-overlay-wrapper {
//   justify-content: center !important;
//   align-items: center !important;
// }


// @keyframes demo-party {
//   0% { background: #00f; }
//   10% { background: #8e44ad; }
//   20% { background: #1abc9c; }
//   30% { background: #d35400; }
//   40% { background: #00f; }
//   50% { background: #34495e; }
//   60% { background: #00f; }
//   70% { background: #2980b9; }
//   80% { background: #f1c40f; }
//   90% { background: #2980b9; }
//   100% { background: #0ff; }
// }