<div class="ne-typography demo-typography">
  <div class='ne-heading-3xl ne-my-lg'>Typography</div>
  <table>
    <thead>
      <tr>
        <th>Style</th>
        <th>rem</th>
        <th>px</th>
        <th>Actual size</th>
      </tr>
    </thead>
    <tbody>
      <tr class='ne-heading-sm'>
        <td>.ne-heading-sm</td>
        <td>0.75rem</td>
        <td>12 px</td>
        <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
      </tr>
      <tr class='ne-heading-sm-plus'>
        <td>.ne-heading-sm-plus</td>
        <td>0.813rem</td>
        <td>13 px</td>
        <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
      </tr>
      <tr class='ne-heading-md'>
        <td>.ne-heading-md</td>
        <td>0.875rem</td>
        <td>14 px</td>
        <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
      </tr>
      <tr class='ne-heading-lg'>
        <td>.ne-heading-lg</td>
        <td>1rem</td>
        <td>16 px</td>
        <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
      </tr>
      <tr class='ne-heading-xl'>
        <td>.ne-heading-xl</td>
        <td>1.125rem</td>
        <td>18 px</td>
        <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
      </tr>
      <tr class='ne-heading-2xl'>
        <td>.ne-heading-2xl</td>
        <td>1.25rem</td>
        <td>20 px</td>
        <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
      </tr>
      <tr class='ne-heading-3xl'>
        <td>.ne-heading-3xl</td>
        <td>1.5rem</td>
        <td>24 px</td>
        <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
      </tr>
      <tr class='ne-font-xs'>
        <td>.ne-font-xs</td>
        <td>0.6875rem</td>
        <td>11 px</td>
        <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
      </tr>
      <tr class='ne-font-sm'>
        <td>.ne-font-sm</td>
        <td>0.75rem</td>
        <td>12 px</td>
        <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
      </tr>
      <tr class='ne-font-sm-plus'>
        <td>.ne-font-sm-plus</td>
        <td>0.813rem</td>
        <td>13 px</td>
        <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
      </tr>
      <tr class='ne-font-md'>
        <td>.ne-font-md</td>
        <td>0.875rem</td>
        <td>14 px</td>
        <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
      </tr>
      <tr class='ne-font-lg'>
        <td>.ne-font-lg</td>
        <td>1rem</td>
        <td>16 px</td>
        <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
      </tr>

    </tbody>
  </table>

  <div class='ne-heading-3xl ne-my-lg'>Font Weight</div>
  <a target="_blank" href='https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight'
    >https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
  </a>
  <table>
    <thead>
      <tr>
        <th>Style</th>
        <th>Weight</th>
        <th>Description</th>
        <th>Actual size</th>
      </tr>
    </thead>


    <tr class='ne-font-weight-lighter'>
      <td>.ne-font-weight-lighter</td>
      <td></td>
      <td>Keyword values relative to the parent </td>
      <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
    </tr>
    <tr class='ne-font-weight-bolder'>
      <td>.ne-font-weight-bolder</td>
      <td></td>
      <td>Keyword values relative to the parent </td>
      <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
    </tr>
    <tr class='ne-font-weight-light'>
      <td>.ne-font-weight-light</td>
      <td>300</td>
      <td></td>
      <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
    </tr>
    <tr class='ne-font-weight-normal'>
      <td>.ne-font-weight-normal</td>
      <td>400</td>
      <td></td>
      <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
    </tr>
    <tr class='ne-font-weight-medium'>
      <td>.ne-font-weight-medium</td>
      <td>500</td>
      <td></td>
      <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
    </tr>
    <tr class='ne-font-weight-semibold'>
      <td>.ne-font-weight-semibold</td>
      <td>600</td>
      <td></td>
      <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
    </tr>
    <tr class='ne-font-weight-bold'>
      <td>.ne-font-weight-bold</td>
      <td>700</td>
      <td></td>
      <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
    </tr>

    <tr class='ne-font-italic'>
      <td>.ne-font-italic</td>
      <td></td>
      <td></td>
      <td>The quick brown fox jumps over the lazy dog. 白日依山尽，黄河入海流</td>
    </tr>
    </tbody>
  </table>
</div>