<!-- <div>
  <div class="row">
      <div class="col-md-4">
          <span class="hipster img-fluid rounded"></span>
      </div>
      <div class="col-md-8">
          <h1 jhiTranslate="error.title">Error Page!</h1>

          <div [hidden]="!errorMessage">
              <div class="alert alert-danger">{{errorMessage}}
              </div>
          </div>
          <div [hidden]="!error403" class="alert alert-danger" jhiTranslate="error.http.403">You are not authorized to access this page.
          </div>
      </div>
  </div>
</div>
 -->


<div style=" margin:30px 0 0 0;display:flex;flex-flow:column;justify-content:center;align-items: center;">

    <img style="width: 300px;" src="../../../../assets/img/error.png">
    <!--  <ng-container *ngIf="title">{{title}}</ng-container> -->
    <div *ngIf="errorMessage" style="font-size: 24px;margin-bottom: 8px;font-weight: 700;">{{errorMessage}}</div>

</div>