<div class='ne-font-sm-plus settings-menu'>
  <nav>
    <ul>
      <li>
        <a routerLink=".">
          <!-- 付款与账单<span class="caret"></span> -->
          <!-- <mat-icon>more_horiz</mat-icon> -->
          <!-- <i class="material-icons ne-align-middle">more_horiz</i> -->
          <mat-icon svgIcon="core:baseline-more_horiz"></mat-icon>
        </a>
        <div>
          <ul>
            <li>
              <a routerLink="." (click)='openError()'>
                <mat-icon class='menu-icon' svgIcon="core:baseline-fingerprint"></mat-icon>
                登录
              </a>
            </li>

            <li>
              <a routerLink="." class="disabled">
               <mat-icon class='menu-icon' svgIcon="core:outline-lock"></mat-icon> 
               注销
              </a>
            </li>


          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>