
.alert-icon {
    height: 1rem;
    width: 1rem;
    margin-left: -0.125rem;
    margin-top: -0.166667rem; }
  
  .alert-icon-wrapper {
    -ms-flex: 0 0 1.041667rem;
    flex: 0 0 1.041667rem;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    padding-top: 0.041667rem;
    height: 0.75rem; }
  
  .alert-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    min-height: 0.75rem;
    margin-bottom: 0.25rem; }
    .alert-item:last-child {
      margin-bottom: 0; }
  
  .alert-items {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding: 0.333333rem calc(0.5rem - 1px);
    display: -ms-flexbox;
    display: flex; }
  
  .alert-item > span,
  .alert-text {
    display: inline-block;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 98%;
    flex-basis: 98%;
    max-width: 98%;
    margin-right: 0.5rem;
    text-align: left; }
  
  .alert {
      font-size:1rem;    //font-size: 0.541667rem;
    letter-spacing: normal;
    line-height: 0.75rem;
    position: relative;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    width: auto;
    border-radius: 0.125rem;
    margin-top: 0.25rem;
    background: #e1f1f6;
    color: #565656;
    border: 1px solid #49afd9; }
    .alert .alert-icon {
      color: #0079b8; }
    .alert.alert-info {
      background: #e1f1f6;
      color: #565656;
      border: 1px solid #49afd9; }
      .alert.alert-info .alert-icon {
        color: #0079b8; }
    .alert.alert-success {
      background: #dff0d0;
      color: #565656;
      border: 1px solid #60b515; }
      .alert.alert-success .alert-icon {
        color: #318700; }
    .alert.alert-warning {
      background: #feecb5;
      color: #565656;
      border: 1px solid #ffdc0b; }
      .alert.alert-warning .alert-icon {
        color: #565656; }
    .alert.alert-danger {
      background: #f5dbd9;
      color: #565656;
      border: 1px solid #ebafa6; }
      .alert.alert-danger .alert-icon {
        color: #c92100; }
    .alert .alert-item .clr-icon {
      height: 0.75rem;
      width: 0.75rem;
      margin-right: 0.25rem; }
    .alert .alert-item .clr-icon + .alert-text {
      padding-left: 0; }
      .alert .alert-item .clr-icon + .alert-text::before {
        content: none; }
    .alert .alert-actions {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      white-space: nowrap; }
      .alert .alert-actions .dropdown:last-child {
        margin-right: -0.083333rem; }
      .alert .alert-actions .dropdown-item {
        color: #565656;
        font-size: 0.583333rem;
        line-height: 1rem;
        letter-spacing: normal; }
      .alert .alert-actions .dropdown .dropdown-toggle {
        color: #565656; }
    .alert .alert-action:not(:last-child) {
      margin-right: 0.5rem; }
    .alert .alert-action,
    .alert .dropdown-toggle {
      color: #565656;
      text-decoration: underline; }
      .alert .alert-action:active,
      .alert .dropdown-toggle:active {
        color: #50266b; }
    .alert .alert-action button.dropdown-toggle:not(.btn) {
      background: transparent;
      cursor: pointer;
      color: #565656; }
    .alert .dropdown-toggle:not(.btn) {
      display: inline-block;
      background: transparent;
      border: none; }
    .alert .close {
      width: 1rem;
      display: block;
      height: 1.5rem;
      -ms-flex: 0 0 1.166667rem;
      flex: 0 0 1.166667rem;
      -ms-flex-order: 100;
      order: 100;
      padding-right: 0.166667rem; }
      .alert .close clr-icon {
        margin-top: -0.125rem;
        height: calc(1rem - 1px);
        width: calc(1rem - 1px); }
    .alert .close ~ .alert-item > .alert-actions {
      padding-right: 0.5rem; }
      .alert .close ~ .alert-item > .alert-actions > .alert-action:last-child {
        margin-right: 0.5rem; }
  
  .alert-app-level {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background: #0079b8;
    color: #fff;
    border: none; }
    .alert-app-level .alert-icon {
      color: #fff; }
    .alert-app-level.alert-info {
      background: #0079b8;
      color: #fff;
      border: none; }
      .alert-app-level.alert-info .alert-icon {
        color: #fff; }
    .alert-app-level.alert-danger {
      background: #c92100;
      color: #fff;
      border: none; }
      .alert-app-level.alert-danger .alert-icon {
        color: #fff; }
    .alert-app-level.alert-warning {
      background: #c25400;
      color: #fff;
      border: none; }
      .alert-app-level.alert-warning .alert-icon {
        color: #fff; }
    .alert-app-level.alert-success {
      background: #62a420;
      color: #fff;
      border: none; }
      .alert-app-level.alert-success .alert-icon {
        color: #fff; }
    .alert-app-level .alert-items {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem; }
    .alert-app-level .alert-item {
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      min-height: 1rem; }
      .alert-app-level .alert-item .btn {
        margin: 0; }
    .alert-app-level .alert-item > span,
    .alert-app-level .alert-text {
      -ms-flex: 0 1 auto;
      flex: 0 1 auto; }
    .alert-app-level .alert-icon-wrapper {
      margin-top: 0.125rem; }
    .alert-app-level .close {
      color: #fff;
      opacity: 0.8;
      height: 1.5rem;
      overflow: hidden; }
      .alert-app-level .close clr-icon {
        fill: #fff;
        margin-top: -0.208333rem; }
      .alert-app-level .close:focus, .alert-app-level .close:hover, .alert-app-level .close:active {
        opacity: 1; }
    .alert-app-level .alert-action,
    .alert-app-level .dropdown-toggle {
      text-decoration: none; }
  
  .alert-sm {
    letter-spacing: normal;
    font-size: calc(0.5rem - 1px);
    line-height: 0.666667rem; }
    .alert-sm .alert-items {
      padding: calc(0.166667rem - 1px) calc(0.25rem - 1px); }
    .alert-sm .alert-item {
      padding-top: 0.041667rem;
      margin-bottom: 0.166667rem; }
      .alert-sm .alert-item:last-child {
        margin-bottom: 0; }
    .alert-sm .alert-icon-wrapper {
      padding-top: 0;
      height: 0.666667rem; }
    .alert-sm .alert-icon {
      margin-left: -0.166667rem;
      margin-top: -0.166667rem; }
    .alert-sm .alert-item > span,
    .alert-sm .alert-text {
      margin-right: 0.25rem; }
    .alert-sm .close {
      padding-right: 0;
      -ms-flex: 0 0 1rem;
      flex: 0 0 1rem;
      height: 1rem;
      line-height: 1rem; }
      .alert-sm .close clr-icon {
        margin-top: -0.208334rem;
        margin-right: -0.041667rem;
        height: 0.833333rem;
        width: 0.833333rem;
        line-height: calc(0.833333rem + 1px); }
  
  @media screen and (max-width: 768px) {
    .alert .alert-item {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .alert .alert-text {
      margin-right: 0;
      max-width: 90%;
      width: 90%;
      -ms-flex-preferred-size: 90%;
      flex-basis: 90%; }
    .alert .alert-actions {
      -ms-flex: 1 0 100%;
      flex: 1 0 100%;
      padding-top: 0.125rem;
      padding-left: 1rem; }
    .alerts-pager {
      margin-top: 0.125rem; }
    .alert-app-level .alert-actions {
      margin-left: 0; } }
  
  .alert-hidden {
    display: none; }
  
  .card .alert {
    margin: 0.25rem 0; }
  
  .modal .alert + .modal-header {
    margin-top: 0.5rem; }
  
  .alerts.alert-info {
    background: #004a70; }
  
  .alerts.alert-danger {
    background: #a32100; }
  
  .alerts.alert-warning {
    background: #9e4100; }
  
  .alerts.alert-success {
    background: #1d5100; }
  
  .alerts-pager {
    color: #fff;
    float: left;
    font-size: 0.541667rem;
    letter-spacing: normal;
    min-height: 1.5rem;
    text-align: center;
    width: 144px; }
  
  .alerts-pager-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: none;
    color: #fff;
    cursor: pointer; }
  
  .alerts-pager-control {
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.25rem;
    white-space: nowrap; }
  
  .alerts-page-down {
    margin-left: 1rem;
    width: 33.33%; }
  
  .alerts-page-up {
    margin-right: 1rem;
    width: 33.33%; }
  
  .alerts-pager-text {
    width: 33.33%; }
  





    .btn {
        cursor: pointer;
        display: inline-block;
        -webkit-appearance: none !important;
        border-radius: 0.125rem;
        border: 1px solid;
        min-width: 3rem;
        max-width: 15rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        line-height: 1.5rem;
        letter-spacing: 0.12em;
        font-size: 0.5rem;
        font-weight: 500;
        height: 1.5rem;
        padding: 0 0.5rem;
        border-color: #0079b8;
        background-color: transparent;
        color: #0079b8; }
        .btn:hover {
          text-decoration: none; }
        .btn:visited {
          color: #0079b8; }
        .btn:hover {
          background-color: #e1f1f6;
          color: #004a70; }
        .btn:active {
          box-shadow: 0 2px 0 0 #0094d2 inset; }
        .btn.disabled, .btn:disabled {
          color: #565656;
          cursor: not-allowed;
          background-color: transparent;
          border-color: #737373;
          opacity: 0.4; }
      
      .btn-group > .btn clr-icon,
      .btn clr-icon {
        transform: translate3d(0rem, -0.083333rem, 0); }