<div class='ne-heading-3xl ne-my-lg'>Color</div>
<p class="ne-color-gray-50 ne-bg-dark">.ne-color-gray-50</p>
<p class="ne-color-gray-100 ne-bg-dark">.ne-color-gray-100</p>
<p class="ne-color-gray-200 ne-bg-dark">.ne-color-gray-200</p>
<p class="ne-color-gray-300 ne-bg-dark">.ne-color-gray-300</p>
<p class="ne-color-gray-400 ne-bg-dark">.ne-color-gray-400</p>
<p class="ne-color-gray-500">.ne-color-gray-500</p>
<p class="ne-color-gray-600">.ne-color-gray-600</p>
<p class="ne-color-gray-700">.ne-color-gray-700</p>
<p class="ne-color-gray-800">.ne-color-gray-800</p>
<p class="ne-color-gray-900">.ne-color-gray-900</p>
<p class="ne-color-white ne-bg-dark">.ne-color-white</p>
<p class="ne-color-black">.ne-color-black</p>

<p class="ne-color-primary">.ne-color-primary</p>
<p class="ne-color-secondary">.ne-color-secondary</p>
<p class="ne-color-success">.ne-color-success</p>
<p class="ne-color-danger">.ne-color-danger</p>
<p class="ne-color-warning">.ne-color-warning</p>
<p class="ne-color-info">.ne-color-info</p>
<p class="ne-color-light ne-bg-dark">.ne-color-light</p>
<p class="ne-color-dark">.ne-color-dark</p>

<div class='ne-heading-3xl ne-my-lg'>Background Color</div>
<div class="ne-p-sm ne-mb-sm ne-bg-primary ne-color-white">.ne-bg-primary</div>
<div class="ne-p-sm ne-mb-sm ne-mb-sm ne-bg-secondary ne-color-white">.ne-bg-secondary</div>
<div class="ne-p-sm ne-mb-sm ne-bg-success ne-color-white">.ne-bg-success</div>
<div class="ne-p-sm ne-mb-sm ne-bg-danger ne-color-white">.ne-bg-danger</div>
<div class="ne-p-sm ne-mb-sm ne-bg-warning ne-color-dark">.ne-bg-warning</div>
<div class="ne-p-sm ne-mb-sm ne-bg-info ne-color-white">.ne-bg-info</div>
<div class="ne-p-sm ne-mb-sm ne-bg-light ne-color-dark">.ne-bg-light</div>
<div class="ne-p-sm ne-mb-sm ne-bg-dark ne-color-white">.ne-bg-dark</div>
<div class="ne-p-sm ne-mb-sm ne-bg-white ne-color-dark">.ne-bg-white</div>
<div class="ne-p-sm ne-mb-sm ne-bg-transparent ne-color-dark">.ne-bg-transparent</div>