<a routerLink="." (click)='openError()'>

    <div style="border: 1px solid hsla(0,0%,89%,1);box-shadow: 0 2px 5px hsla(0,0%,89%,1);">
        <div class="item">
            <div
                style="line-height: 140px;height:140px;width:300px;background-color: hsla(0,0%,95%,1);text-align:center;vertical-align: middle;">
                <img style="height:100px;" [src]="picture">
            </div>
            <div style="padding: 6px 12px 0 12px;">
                <div class="ne-heading-xl">{{header}}</div>
                <div class="ne-font-lg">
                    {{title}}
                </div>
            </div>
    </div>
    </div>
</a>