@import '../../style/variables';

//小屏幕时固定Header工具条，需设置该属性，
//同时要设置HeaderComponent组件样式的.isSmallScreen-header样式。
/*
.layout-home-desktop-content
{
    
    //overflow: auto;
}
*/

//小屏幕时不固定 Header 时不用设置该样式
/*
.layout-home-isSmallScreen-content
{
    
    margin-top: $layout-home-isSmallScreen-header-height;
}
*/



.layout-home-sidenav-expanded
{

    
    //@angular/material 7.0.2 的 mat-sidenav 组件多了一个右侧边框线。这里覆盖这个样式去掉线。
    //.mat-drawer-side {border-right: solid 1px rgba(0, 0, 0, 0.12);}
    border-right: 0;
    //width:260px;
    width: $layout-home-sidenav-expanded-width;
    
   
}


.layout-home-sidenav-dock
{
    border-right: 0;
    //width:80px;
    width: $layout-home-sidenav-dock-width;
}